// Importación de archivos mixins
@import '../../style/mixins';

// Estilos de sobre mi
.sobre-mi {
  @include display(flex, column, center, center);
  width: 70%; 
  height: 100dvh;
  margin: 0 auto;
  gap: 10px;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px solid #707070;
    color: inherit;
  }

  .contenido {
    p {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-size: 1.3rem;
      color: inherit;
    }

    .recursos {
      margin-top: 50px;
      gap: 10px;
      padding: 10px;

      h3 {
        text-align: center;
        font-size: 1.5rem;
        color: inherit;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 10px;
        gap: 10px;
        padding: 10px;

        button {
          border: none;
          height: 150px;
          width: 150px;
          border-radius: 10px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid #000;
          }
        }
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 450px) {
  .sobre-mi {
    width: 80%;
    height: 100dvh;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    .contenido {
      p {
        overflow: scroll;
        width: 100%;
        height: 100px;
        font-size: 1.2rem;
      }

      .recursos {
        h3 {
          font-size: 1.2rem;
        }

        .grid {
          button {
            height: 120px;
            width: 120px;

            img {
              width: 120px;
              height: 120px;
            }
          }
        }
      }
    }
  }
}
