// Importación de archivos mixins
@import '../../style/mixins.scss';

// Estilos del navbar
.navbar {
  overflow: hidden;
  position: fixed;
  transition: all 0.5s ease;
  top: 15%;
  left: 5%;
  width: 70px;
  padding: 10px 0px;
  z-index: 10;
  border-radius: 10px;
  border: 1px solid #707070;

  .cerrar {
    border: none;
    width: 100%;
    padding: 10px 0px;
    font-size: 2rem;
    color: inherit;
    background-color: transparent;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;

    li {
      list-style: none;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.5s ease;
        gap: 20px;
        padding: 5px 10px;
        font-size: 2rem;
        color: inherit;

        span {
          width: 200px;
          font-size: 1.5rem;
        }

        &:hover {
          font-size: 2.5rem;
          color: #707070;
        }
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 450px) {
  .navbar {
    top: 85%;
    width: 90%;
    height: 10%;

    .cerrar {
      display: none;
    }

    ul {
      justify-content: center;
      align-items: center;
      gap: 0px;
      height: 100%;

      li {
        a {
          font-size: 1.8rem;

          span {
            display: none;
          }

          &:hover {
            color: inherit;
            background-color: transparent;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024) {
  .navbar {
    height: 400px;
  }
}
