// Reset
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

// Estilos Generales
body {
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  background-color: #000;
}

// Estilos Generales de Botones
button {
  cursor: pointer;
}
