// Importación de archivos mixins
@import '../../style/mixins.scss';

// Estilos de habilidades
.habilidades {
  @include display(flex, column, center, center);
  height: 100dvh;
  margin: 0 auto;
  gap: 10px;

  h2 {
    font-size: 2.5rem;
    border-bottom: 1px solid #707070;
    color: inherit;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 10px;
    padding: 10px;

    .front-end,
    .herramientas {
      h3 {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #707070;
        color: inherit;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 10px;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;
          font-size: 2rem;
          border-radius: 50%;
          border: 1px solid;
          border-color: inherit;
        }
      }
    }

    .back-end {
      h3 {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #707070;
        color: inherit;
      }

      ul {
        text-align: center;
        padding: 5px 10px;
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 450px) {
  .habilidades {
    h2 {
      font-size: 1.8rem;
    }

    .grid {
      grid-template-columns: repeat(2, 1fr);
      padding: 0px;
      gap: 10px;

      .front-end,
      .herramientas {
        h3 {
          font-size: 1.2rem;
        }

        ul {
          grid-template-columns: repeat(2, 1fr);

          li {
            font-size: 1.2rem;
            padding: 5px;
            border: none;
          }
        }
      }

      .back-end {
        grid-area: span 3 / span 2;

        h3 {
          font-size: 1.2rem;
        }

        ul {
          text-align: center;
          padding: 0px 5px;

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
